@import "reset.css";

/* button reset css */
/* button{
    background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer
} */

/* * {
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /*
  넓이가 하드코딩 되어있음
  3명을 표시할 경우 3 + 2(무한 루프를위한 양끝) = 500vw가 됨.
  5명일 경우 5+2 = 700vw으로 변경할 것
  */
  width: 600vw;
}
.carousel-box {
  width: 100vw;
}

.prev {
  position: absolute;
  left: 1vw;
  z-index: 99;
}

.next {
  position: absolute;
  left: 98vw;
  z-index: 99;
}

.container {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 2.2fr;
  grid-template-rows: 4fr 6fr;
  gap: 2.5px;
}

.left-left {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

img {
  width: 350px;
  height: auto;
  object-fit: cover;
}

.left-right {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}

.profile__contents {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.profile__content {
  display: flex;
  flex-direction: column;
}

.item {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.left-bottom {
  background-color: white;
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  grid-template-rows: repeat(2, 1fr);
  box-sizing: border-box;
}

.left-bottom-wrap {
  padding: 30px 60px;
}

.aboutMe__tags {
  display: flex;
  margin-top: 50px;
  margin-left: 40px;
}

.tag {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 25px;
}

.aboutMe__tag:first-child {
  margin-right: 200px;
}

.workTogether {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.workTogether > p {
  font-size: 22px;
  font-weight: 400;
  margin-top: 50px;
  line-height: 40px;
}

.right {
  background-color: white;
  grid-column: 3 / span 1;
  grid-row: span 2;
  padding: 20px;
  display: grid;
  grid-template-rows: 1.5fr 1fr 7fr;
}

.icons {
  display: flex;
  box-sizing: border-box;
}

.icon {
  cursor: pointer;
  background-color: #f4f4f4;
  border-radius: 50%;
  width: 123px;
  height: 123px;
  margin-right: 1.5vw;
  display: flex;
  align-content: center;
  justify-content: center;
}

.icon img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
  transition: 0.2s ease-in-out;
}

/* .icon:nth-child(1):hover {
  background-color: #d84746;
} */

.icon:nth-child(1):hover {
  background-color: #618a58;
}

.icon:nth-child(2):hover {
  background-color: #8fbcdb;
}

.icon:nth-child(3):hover {
  background-color: #bba2fe;
}

.icon:nth-child(4):hover {
  background-color: #e2c881;
}

.icon:nth-child(5):hover {
  background-color: #288292;
}

.guest__log {
  margin-top: 1vh;
  width: 48vw;
  height: 70vh;
  background-color: #f4f4f4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5px;
  box-sizing: border-box;
}

.gest__log-input {
  width: 95%;
  height: 15%;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  padding: 11px;
  box-sizing: border-box;
}

.comment__boxs {
  display: flex;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  height: 80%;
  width: 100%;
}

.comment__box {
  width: 95%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 11px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin-left: 10px;
}
.input {
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
}
.user-btn {
  display: flex;
  gap: 10px;
}
.user-btn img {
  display: block;
  cursor: pointer;
  width: 15px;
  height: 15px;
}
.user-btn img:hover {
  transition: all 300ms;
  scale: 1.1;
}
.comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  min-height: 45px;
  border-radius: 20px;
  padding: 0px 20px 0px 15px;
  box-sizing: border-box;
  margin-top: 5px;
}

.comment__box .comment {
  background-color: #fff;
  padding: 0 10px;
  min-height: 20px;
}

.comment span {
  height: 100%;
  line-height: 23px;
}

.comment input {
  outline: none;
  border: none;
  background-color: transparent;
}

.comment i {
  color: rgba(0, 0, 0, 0.7);
}

.commnet-icons {
  margin-top: 10px;
  margin-left: 10px;
}

.commnet-icons button {
  margin: 0 5px;
  width: 15px;
  cursor: pointer;
}
.commnet-icons button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__img > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.profile,
.aboutMe,
.workTogether,
.guest__log-title {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.red {
  background-color: #d84746;
}

.green {
  background-color: #618a58;
}

.skyblue {
  background-color: #8fbcdb;
}

.violet {
  background-color: #bba2fe;
}

.yellow {
  background-color: #e2c881;
}

.blue {
  background-color: #288292;
}
