@import "reset.css";

html,
body {
  box-sizing: border-box;
  background-color: #e1af02;
  width: 100%;
  height: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

.inner_wrap{
  width: calc(150vh - 225px);
  height: 100%;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  height: 150px;
  background-color: #e1af02;
  text-align: center;
  font-size: 100px;
  z-index: 1;
}

.header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 740px) {
  .header {
    font-size: 150px;
  }
}

.wrap {
  height: 100%;
}

.page {
  font-size: 40px;
  width: 100%;
  height: 100vh;
}

.main_img {
  width: 400px;
  margin: 0 auto;
  padding-top: calc(150px + 7vh);
  margin-bottom: 10vh;
}
@media screen and (min-width: 740px) {
  .main_img {
    width: 600px;
  }
}
.main_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introduce {
  max-width: 1440px;
  margin: 0 auto;
}

.introduce_text {
  display: flex;
  margin: 0 50px;
  margin-top: 50px;
  font-size: 30px;
  justify-content: space-between;
  flex-direction: column;
  color: #000;
}
@media screen and (min-width: 740px) {
  .introduce_text {
    flex-direction: row;
  }
}
.introduce_text > p:first-child {
  font-size: 35px;
}

.introduce_text div p {
  line-height: 50px;
  text-align: center;
}

/* 유나 수정 */

.profile_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: calc(150vh - 225px);
  margin: 0 auto;
  padding-top: 150px;
}

.team_profile {
  display: flex;
  width: calc(50vh - 75px);
  height: calc(50vh - 75px);
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.team_profile:nth-child(1) {
  background-color: #d84746;
}

.team_profile:nth-child(2) {
  background-color: #618a58;
}

.team_profile:nth-child(3) {
  background-color: #8fbcd8;
}

.team_profile:nth-child(4) {
  background-color: #bba2fe;
}

.team_profile:nth-child(5) {
  background-color: #e2c881;
}

.team_profile:nth-child(6) {
  background-color: #288292;
}


/* 이미지 크기가 조금씩 달라서 몇 개만 위치 수정 */
.team_profile:nth-child(3) img {
  top: 2%;
  left: 13%;
}

.team_profile:nth-child(5) img {
  top: 8%;
}

.team_profile:nth-child(6) img {
  top: 0%;
  left: 11%;
}
/*-------------------------------*/

.team_profile a{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.team_name {
  margin: 3%;
  font-size: 68%;
  position: absolute;

}

.circle {
  position: relative;
  width: 80%;
  border-radius: 50%;
  background-color: white;
  aspect-ratio: 1/1;
  margin: 11% 10% 9% 10%;
}

.team_photo {
  width: 80%;
  position: absolute;
  top: 8%;
  left: 12%;
}

.circle:hover {
  background-color: transparent;
  transition: 0.2s;
}

.circle:hover .team_photo {
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}

@media screen and (min-width: 740px) {
  .introduce_text div p {
    text-align: right;
  }
}
