@import "reset.css";

html,
body {
  box-sizing: border-box;
  background-color: #e1af02;
  width: 100%;
  height: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #e1af02;
  text-align: center;
  font-size: 65px;
  z-index: 1;
}

@media screen and (min-width: 740px) {
  .header {
    font-size: 100px;
  }
}

.wrap {
  height: 100%;
}

.page {
  font-size: 40px;
  min-height: 800px;
  width: 100%;
  height: 100%;

  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.main_img {
  width: 400px;
  margin: 0 auto;
  padding-top: 150px;
  margin-bottom: 50px;
}
@media screen and (min-width: 740px) {
  .main_img {
    width: 600px;
  }
}
.main_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introduce {
  max-width: 1440px;
  margin: 0 auto;
}

.introduce_text {
  gap: 10px;
  display: flex;
  margin: 0 50px;
  margin-top: 50px;
  font-size: 30px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: #000;
}
@media screen and (min-width: 740px) {
  .introduce_text {
    flex-direction: row;
  }
}
.introduce_text > p:first-child {
  font-size: 35px;
}

.introduce_text div p {
  line-height: 50px;
  text-align: center;
}


/* 유나 수정 */

.ver2 {
  padding-top: 200px;
}

.profile_wrap{ 
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  /* min-height: 554px; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 150vh - 150px;
  margin: 0 auto;
}

.team_profile {
  display: flex;
  width: calc(50vh -50px);
  justify-content: center;
}

.team_profile:nth-child(1) {
  background-color: #D84746;
}

.team_profile:nth-child(2) {
  background-color: #618A58;
}

.team_profile:nth-child(3) {
  background-color: #8FBCDB;
}

.team_profile:nth-child(4) {
  background-color: #BBA2FE;
}

.team_profile:nth-child(5) {
  background-color: #E2C881;
}

.team_profile:nth-child(6) {
  background-color: #288292;
}

.circle{
  position: relative;
  width: 100%;
  border-radius: 50%;
  background-color: white;
  aspect-ratio: 1/1;
  margin: 20px 40px;
  box-sizing: border-box;
}

.circle img {
  width: 90%;
  position: absolute;
  top: 1%;
  left: 6%;
}

.circle:hover {
  background-color: transparent;
}

.circle:hover > img {
  transform: scale(1.2);
  transition: 0.5s ease-in-out; 
}
/*  */
@media screen and (min-width: 740px) {
  .introduce_text div p {
    text-align: right;
  }
}